body {
    min-height: unset;
    background-color: rgba(40, 40, 40, 1.0);
}

/*Forgot Password*/
.ForgotPasswordBox {
    background: rgba(0,0,0,0.65);
    color: white;
    width: 450px;
    height: 550px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 35px;
}

.ForgotPasswordBox p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    margin: 15px 0px 0px 0px;
    text-align: center;
}

.ForgotPasswordBox input {
    width: 92%;
    margin-bottom: 20px;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    height: 40px;
    font-size: 16px;
    border-bottom: 1px solid silver;
}

.ForgotPasswordBox i {
    position: absolute;
    margin-top: 10px;
    cursor: pointer;
    color: red;
}

.ForgotPasswordBox input[type=submit] {
    border: none;
    outline: none;
    height: 40px;
    background-color: blueviolet;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.ForgotPasswordBox input[type=submit]:hover {
    background-color: #ff0157;
    transition: 0.5s;
    letter-spacing: 4px;
    cursor: pointer;
}

.ForgotPasswordBox a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}

.ForgotPasswordBox a:hover {
    transition: 0.5s;
    letter-spacing: 2px;
    color: #ff0157;
}

.ForgotPasswordFormContent .ForgotPasswordValidation {
    color: red;
}
