@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 1000px;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/bg.jpg');
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #fff;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

    .btn:hover {
        letter-spacing: 4px;
    }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #ff0157;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #ff0157;
}


section {
    padding: 100px;
}

/*CopyRight*/
.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.copyrightText p {
    color: #333;
}

.copyrightText a {
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

/*Max-Width*/
@media (max-width: 991px) {

    header,
    header.sticky {
        padding: 10px 20px;
    }

    header.toggleSticky {
    background: #fff;
    }

    header.toggleSticky .logo {
    color: #111;
    }

    header.toggleSticky .navigation li a {
    color: #111;
    }

    header.toggleSticky .menuToggle {
    filter: invert();
    }

    header .navigation {
    display: none;
    }

    header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    }

    header .navigation li {
    margin-left: 0px;
    }

    header .navigation li a {
    color: #111;
    font-size: 1.6em;
    }

    .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(img/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    }

    .menuToggle.active {
    background: url(img/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    }

    header.sticky .menuToggle {
    filter: invert();
    }

    .banner .content h2 {
        font-size: 3em;
    }
}
